@model List<CoronaViewModel>

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Country Name</th>
            <th>Total Cases</th>
            <th>Total Deaths</th>
        </tr>

    </thead>

    <tbody>
        @{
            int counter = 0;
        }
        @foreach(var item in Model)
        {
            <tr>
                <td>@(++counter)</td>
                <td>@item.CountryName</td>
                <td>@item.TotalCases</td>
                <td>@item.TotalDeaths</td>
            </tr>
        }
    </tbody>
</table>