@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Mate</h1>
    <p>In order to calculate power of one number please  <a asp-controller="Math" asp-action="Square">click here</a> </p>
</div>
