<h1>TURKISH COFFEE</h1>


<p>"Turkish coffee is one of the oldest coffee preparation and cooking methods that has survived from the Ottoman Empire, which has an important place in Turkish culture.";</p>

<h2>Ozellikleri</h2>


<ul>
       <li>Nice</li>
       <li>Tasty</li>
       <li>Bad</li>

</ul>


<p>Date: @DateTime.Now.ToShortDateString()</p>