<h1>New Student</h1>
<form method="post">
    <div>
        <label for="">Name</label>
        <input name="name" type="text" required="">
    </div>
    <div>
        <label for="">Surname</label>
        <input name="surname" type="text" required="">
    </div>
    <button>Ekle</button>
</form>

