@model KanGrubuMvc.ViewModel.KanGrubuViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>KAN GRUBU KONTROL [MVC]</h5>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th class="align-middle" rowspan="2">ALICILAR</th>
                <th colspan="8">VERİCİLER</th>
            </tr>
            <tr>
                @foreach (var item in Model.Vericiler)
                {
                    <th>@item.Grup @item.Rh</th>

                }

            </tr>
            @foreach (var alici in Model.Alicilar)
            {
                <tr>
                    <th>@alici.Grup @alici.Rh</th>
                    @foreach (var verici in Model.Vericiler)
                    {
                        if (verici.Grup == "0") //0 Genel Vericidir.
                        {
                            if (verici.Rh == '-') // negatifi herkese verir
                            {
                                <td> <i class="fas fa-check text-success"></i>  </td>
                            }
                            else if (verici.Rh == alici.Rh) // ama pozitifse sadece pozitife verir.
                            {
                                <td><i class="fas fa-check text-success"></i> </td>
                            }
                            else // verici pozitif ve alici negatifse veremez.
                            {
                                <td><i class="fas fa-times text-danger"></i></td>
                            }

                        }
                        else
                        {

                            if (verici.Rh == '-') //verici negatif ise harfi uyuşan herkese verir.
                            {
                                if (alici.Grup.Contains(verici.Grup))
                                {
                                    <td><i class="fas fa-check text-success"></i> </td>
                                }
                                else
                                {
                                    <td><i class="fas fa-times text-danger"></i></td>
                                }
                            }
                            else //verici pozitif ise sadece pozitif ve harfi uyuşana verir.
                            {
                                if (alici.Rh == '+' && alici.Grup.Contains(verici.Grup))
                                {
                                    <td><i class="fas fa-check text-success"></i> </td>
                                }
                                else
                                {
                                    <td><i class="fas fa-times text-danger"></i></td>
                                }
                            }
                        }
                    }
                </tr>
            }
        </tbody>

    </table>



</div>
