@using System.Data
@model List<BizimMarket.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
}

<a asp-action="Yeni" asp-controller="Urunler">Yeni urun ekle</a>

<table class="table table-bordered table-admin">
    <thead>
    <tr>
        <th></th>
        <th>Id</th>
        <th>Ad</th>
        <th>Fiyat</th>
        <th>Kategori</th>
    </tr>
    </thead>
    <tbody>
  @foreach (var item in Model)
  {
      <tr>
          <td><img src="~/img/products/@item.ProductImage" alt="nothing" width="50" class="text-center"/></td>
          <td>@item.Id</td>
          <td>@item.ProductName</td>
          <td>₺@item.ProductPrice.ToString("n2")</td>
          <td>@item.Category.CategoryName</td>
      </tr>
  }
    
    </tbody>

</table>