@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@section scripts{
    <script>
    $("h1").click(function(){
        alert("sa")
    })</script>
}

@section SagUst {
    <strong>Section için bir mesaj</strong>
}