@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<basari>Ödeme basariyla alinndi</basari>

<hata class="mt-5">Hata meydana geldi!</hata>

<card baslik2="Yan baslik"  baslik="Ana baslik" >!.CARD SHOW.!</card>
