@page
@model AccessDeniedModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Access denied";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger"> USER CAN NOT PASS THRU HERE</p>
</header>
