@model Book
@{
    TempData["Title"] = "New Book";
}

<h5 class="display-5">Add a new <strong>book</strong></h5>
<hr />
<form method="post">

    <div class="form-group">
        <label asp-for="BookName"></label>
        <input class="form-control" placeholder="What is the name of the book?" type="text" asp-for="BookName" />
        <span class="text-danger" asp-validation-for="BookName"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookAuthor"></label>
        <input class="form-control" placeholder="Who is the author of the book?" type="text" asp-for="BookAuthor" />
        <span class="text-danger" asp-validation-for="BookAuthor"></span>
    </div>
    <div class="form-group">
        <label asp-for="BookPublishYear"></label>
        <input class="form-control" placeholder="When was the book published?" type="number" min="1700" max="2022" asp-for="BookPublishYear" />
        <span class="text-danger" asp-validation-for="BookPublishYear"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea placeholder="What does the book tell us?" class="form-control" asp-for="Description" rows="10"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <button type="submit" class="btn btn-outline-primary">Add</button>
    <button asp-action="Index" class="btn btn-outline-secondary">Cancel</button>
</form>

